[submodule "openstamp"]
	path = openstamp
	url = https://github.com/mb-14/openstamp
[submodule "synthid-text"]
	path = synthid-text
	url = https://github.com/google-deepmind/synthid-text
[submodule "gaussmark"]
	path = gaussmark
	url = https://github.com/abblock/gaussmark.git
[submodule "markllm"]
	path = markllm
	url = https://github.com/THU-BPM/MarkLLM.git
